### SERVER ###
venv/
ivenv/
.idea/
__pycache__/
backend/media/
db.sqlite3
backend/llmapp/llm/*.gguf
backend/*/migrations/*


#staticfiles/

# SET
.env

### REACT ###
.DS_*
*.log

logs
**/*.backup.*
**/*.back.*

node_modules
bower_components
build